appdirs==1.4.4
APScheduler==3.7.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
beautifulsoup4==4.12.3
boto3==1.34.136
botocore==1.34.136
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==43.0.0
cssselect==1.2.0
defusedxml==0.7.1
Django==2.2.28
django-apscheduler==0.6.0
django-cors-headers==3.7.0
django-environ==0.11.2
djangorestframework==3.13.1
dnspython==2.6.1
filelock==3.15.4
furl==2.1.3
gerapy @ file:///home/ajit/Documents/Gerapy
gevent==24.2.1
greenlet==3.0.3
hyperlink==21.0.0
idna==3.7
importlib_metadata==8.2.0
incremental==24.7.1
itemadapter==0.9.0
itemloaders==1.3.1
Jinja2==3.1.4
jmespath==1.0.1
lxml==5.2.2
MarkupSafe==2.1.5
numpy==2.0.0
orderedmultidict==1.0.1
packaging==24.1
pandas==2.2.2
parsel==1.9.1
Protego==0.3.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyDispatcher==2.0.7
pyee==11.1.0
pymongo==4.8.0
PyMySQL==1.1.1
pyOpenSSL==24.2.1
pyppeteer==2.0.0
pyquery==2.0.0
python-dateutil==2.9.0.post0
python-scrapyd-api==2.1.2
pytz==2024.1
queuelib==1.7.0
redis==5.0.7
requests==2.32.3
requests-file==2.1.0
s3transfer==0.10.2
Scrapy==2.11.2
scrapy-redis==0.9.1
scrapy-splash==0.9.0
service-identity==24.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tldextract==5.1.2
tomli==2.0.1
tqdm==4.66.4
Twisted==24.3.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==2.1
uberegg==0.1.1
urllib3==1.26.19
w3lib==2.2.1
websocket==0.2.1
websockets==10.4
zipp==3.19.2
zope.event==5.0
zope.interface==6.4.post2
